<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Name</ion-label>
      <div item-content>
        <span>{{project.name}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Details</ion-label>
      <div item-content>
        <span>{{project.details}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Objectives</ion-label>
      <div item-content>
        <span>{{project.objectives}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Problems</ion-label>
      <div item-content>
        <span>{{project.problems}}</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Faculty</ion-label>
      <div item-content *ngIf="project.faculty">
        <a>{{project.faculty?.name}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Supervisor</ion-label>
      <div item-content *ngIf="project.supervisor">
        <a>{{project.supervisor?.fullName}}</a>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>Batch</ion-label>
      <div item-content *ngIf="project.batch">
        <a>{{project.batch?.year}}</a>
      </div>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="open(project)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
</ion-content>